html, body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
    overflow: hidden;
}

.header {
    margin-top: 0px;
    background-color: #dee7fe;
    width: 100%;
}

.heading {
    font-size: 130%;
    font-weight: bold;
    padding-left: 190px;
    height: 25px;
}

.heading > .save-indicator {
    font-size: 60%;
    font-weight: normal;
    color: grey;
    margin-left: 4px;
}

.heading > .save-indicator.savefail {
    font-size: 60%;
    font-weight: normal;
    color: red;
    margin-left: 4px;
}

.leftbar {
    width: 180px;
    float: left;
    border-right-style: solid;
    border-right-color: #dee7fe;
    border-right-width: 4px;
}

.newlist {
    vertical-align: sub;
}

.rightbar {
}

.viewer {
    height: calc(100% - 40px);
    width: 100%;
    clear: both;
}

.downleftbar {
    height: 100%;
    width: 180px;
    border-right-style: solid;
    border-right-width: 4px;
    border-right-color: #eae9ee;
}

.downrightbar {
    float: left;
    position: absolute;
    top: 25px;
    left: 184px;
    width: calc(100% - 184px);
}

.downrightbar > .menubar {
    width: 100%;
    background-color: #dedede;
}

.downleftbar > .listheading {
    position: relative;
    top: 0px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.rowwrapper.focus {
    background-image: linear-gradient(to right, rgba(255,254,217,1), rgba(255,254,217,0.5));
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #fadb82;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #fadb82;
}

.rowwrapper {
    width: 62%;
    height: 1.6em;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: transparent;
}

.rowhandle {
    position: relative;
    top: 3px;
}

.tasktext {
    font-family: Cantarell, sans-serif;
    font-size: 14px;
    width: 90%;
    background-color: transparent;
    border-style: none;
}

.jobdone {
    text-decoration: line-through;
    color: grey;
}

.listtitle {
    font-size: 15px;
    color: #1034A6;
}
.listtitle:hover {
    text-decoration: underline;
    cursor: pointer;
}
.listtitle:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0ae  ";
    margin-left: 10px;
}

.rowwrapper[data-level="1"] {
    padding-left: 0px;
}

.rowwrapper[data-level="2"] {
    padding-left: 20px;
}

.rowwrapper[data-level="3"] {
    padding-left: 40px;
}

.rowwrapper[data-level="4"] {
    padding-left: 60px;
}

.rowwrapper[data-level="5"] {
    padding-left: 80px;
}

.rowwrapper > input:focus, textarea:focus, select:focus {
        outline: none;
}
