body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 13px;
}

.sidebar {
    width: 270px;
    background-color: #294973;
    color: #d7dde4;
} 

.header {
    height: 48px;
}

.left {
    position: relative;
    float: left;
    height: 100%;
}

.right {
    float: left;
    width: calc(100% - 270px);
    height: 100%;
}

